html, body {
	width: auto;
	height: 500px;
	/* background-color: #1d1d1d;
	color: #ffffff; */
}

#header {
	/* font-size: larger; */
	margin: 0;
}

figcaption {
	font-size: 12px;
}

.para {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}

.button {
	/* margin: 3% auto; */
	width: 100px;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}