html, body {
	width: auto;
	height: 440px;
	/* background-color: #1d1d1d;
	color: #ffffff; */
}

#header {
	/* font-size: larger; */
	margin: 0;
}

figcaption {
	font-size: 12px;
}

.para {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}

.button {
	margin: auto;
	display: block;
}